mat-card {
    border-radius: 20px;
    background: url('/assets/Home-images/map-bg.png'); /* Set background image */
    background-repeat: no-repeat;
    background-size: contain; /* Ensures the image covers the top area */
  }
  