mat-card {
    border-radius: 20px;
    background: url('/assets/Home-images/map-bg.png'); /* Set background image */
    background-repeat: no-repeat;
    background-size: contain; 
    background-color: rgb(204, 255, 224);/* Ensures the image covers the top area */
  }
  
  .container-fluid{
    background-color: #efffeb;
  }