<div class="container my-md-5 my-3">
  <p>
    At Red Sparkz, we specialize in delivering professional kitchen cleaning services in Chennai to make your kitchen
    look as good as new. Whether it’s stubborn grease, food stains, or dirty corners, our expert team ensures a
    deep-cleaned, sanitized, and hygienic kitchen for a healthier cooking environment.
  </p>
</div>
<div class="container my-5 ">
  <h2 class="heading-1 text-center mb-4">Kitchen Services Packages</h2>
</div>
<div class="container d-flex justify-content-center align-items-center">
  <div class="row d-flex justify-content-center align-items-center ">
    <div class="col-lg-4 col-md-6 col-10 my-md-3 d-flex justify-content-center align-items-center px-md-5"
      *ngFor="let service of kitchenServices">
      <mat-card class="service-card my-2">
        <mat-card-content class="service-image rounded">
          <img class="img-fluid rounded" [src]="service.serviceImage[0]" alt="">
        </mat-card-content>
        <mat-card-content class="text-center mt-3">
          <h5 class=" service-title m-0 p-0">{{ service.serviceType }}</h5>
        </mat-card-content>
        <mat-card-content class="text-center mt-2">
          <h3 class="service-price text-success">Starts at &#8377;{{ service.price }}</h3>
          <p class="service-duration">{{ service.duration }}</p>
        </mat-card-content>
        <mat-card-content class="d-flex justify-content-center align-items-center mt-3 mb-2 ">
          <button mat-raised-button color="primary" (click)="openDialog(service)" class="view-details-btn">
            Book Now
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>