<div class="container-fluid text-white p-5 bg-dark">
  <div class="container">
    <div class="row text-center text-md-start">
      <!-- Logo Section -->
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <img class="img-fluid footer-logo" src="../../../assets/Logo/redsparkz logo footer.png" alt="Redsparkz Logo" />
      </div>
      <!-- Quick Links Section -->
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <h2>Quick Links</h2>
        <div class="d-flex flex-column align-items-center align-items-md-start">
          <a [routerLink]="['/home']">Home</a>
          <a [routerLink]="['/about']">About us</a>
          <a [routerLink]="['/services']">Services</a>
          <a [routerLink]="['/products']">Products</a>
          <a [routerLink]="['/blogs']">Blogs</a>
          <a [routerLink]="['/success-stories']">Success Stories</a>
        </div>
      </div>
      <!-- Join Us Section -->
      <div class="col-12 col-md-4">
        <h2 class="">Join Us</h2>
        <div class="d-flex justify-content-center justify-content-md-start gap-4">
          <div class="d-flex justify-content-center justify-content-md-start gap-4">
            <a href="https://facebook.com" target="_blank" class="text-white icon">
              <i class="fab fa-facebook fa-xl"></i>
            </a>
            <a href="https://whatsapp.com" target="_blank" class="text-white icon">
              <i class="fab fa-whatsapp fa-xl"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="text-white icon">
              <i class="fab fa-instagram fa-xl"></i>
            </a>

            <a href="https://youtube.com" target="_blank" class="text-white icon">
              <i class="fab fa-youtube fa-xl"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- sub footer -->
<div class="container-fluid bg-secondary text-white py-3">
  <div class="container text-center">
    <span class="mx-3">&copy; 2024 Redsparkz. All Rights Reserved.</span>
    |
    <a [routerLink]="['/terms-and-conditions']" class="text-white mx-3">
      Terms and Conditions
    </a>
    |
    <a [routerLink]="['/privacy-policy']" class="text-white mx-3">
      Privacy Policy
    </a>
  </div>
</div>
<!-- sub footer ends -->