.footer-logo {
    width: 200px;
    height: 200px;
  }
  // h2{
  //   text-decoration: underline ;
  //   text-underline-offset: 10px; 
  // }
  
  .container-fluid{
    background-color: black;
  }
  a{
    text-decoration: none;
    color: white;
    margin-top: 1vh;
  }
  a:hover{
    color:#FF3232;
  font-size:15px;
    font-weight: 600;
  }
  .icon:hover i {
    color:#FF3232;/* Replace with your desired hover color */
  }