<div class="container-fluid text-white p-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <img
            class="img-fluid footer-logo"
            src="../../../assets/Logo/redsparkz logo footer.png"
            alt=""
          />
        </div>
        <div class="col-md-4 quick-links">
          <h2>Quick Links</h2>
          <a href="" [routerLink]="['/home']"> <p>Home</p></a>
          <a href="" [routerLink]="['/about']"><p>About us</p></a>
          <a href="" [routerLink]="['/services']"><p>Services</p></a>
          <a href="" [routerLink]="['/products']"> <p>Products</p></a>
          <a href="" [routerLink]="['/blogs']"><p>Blogs</p></a>
          <a href="" [routerLink]="['/success-stories']">
            <p>Success Stories</p></a
          >
        </div>
        <div class="col-md-4">
          <h2>Join Us </h2>
          <div class="row">
              <div class="">
                <i class="fas fa-camera" style="color: aliceblue;"></i>
                <i class="fab fa-square-instagram"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
