.summary-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold; /* Makes the text bold */
  padding: 10px;

}

.summary-text {
  text-align: center;
  flex: 1;
}

.arrow {
  font-size: 1.5rem; /* Adjust size of arrow */
  font-weight: bold; /* Optional: makes the arrow bold as well */
}


.summary-text {
  flex: 1;
  text-align: center;
}


h1{
    font-size: clamp(1.4rem,2vw,1.7rem) !important;
}
h2{
    font-size: 1.5rem !important;
}
h3{
    font-size: 1.2rem !important;
}
