<!-- <div class="header">
    <h1>Service Overview</h1> Example header
</div> -->

<div class="container">
    <div class="service-list" id="serviceList">
        <ul>
            <li id="serviceLink1" class="active" (click)="scrollToService('service1', 0)">Service 1</li>
            <li id="serviceLink2" (click)="scrollToService('service2', 1)">Service 2</li>
            <li id="serviceLink3" (click)="scrollToService('service3', 2)">Service 3</li>
            <li id="serviceLink4" (click)="scrollToService('service4', 3)">Service 4</li>
            <li id="serviceLink5" (click)="scrollToService('service5', 4)">Service 5</li>
        </ul>
    </div>

    <div class="service-details" id="serviceDetails">
        <div class="details-content">
            <div id="service1">
                <h3>Service 1 Details</h3>
                <p>Details about Service 1...</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quia reiciendis ad quaerat a
                    deleniti id hic unde odit dolorem accusantium rem vero sit, voluptates esse exercitationem aliquam,
                    amet in.lor Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum ducimus eveniet modi
                    dolorem? Iure praesentium libero aliquam eius ea incidunt. Laborum eveniet voluptate nam commodi
                    adipisci incidunt facilis ullam modi. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Officiis consequuntur consequatur commodi non, quo ipsum alias impedit natus, modi ullam tempore
                    expedita maxime beatae vero possimus enim cum laboriosam. Aliquam. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Tenetur sint ut enim, expedita culpa quo quod saepe sunt maiores,
                    alias fuga labore, eius ipsum? Nostrum facilis perferendis quia culpa similique? Lorem ipsum, dolor
                    sit amet consectetur adipisicing elit. A, doloremque! Veniam, tempore voluptate totam quidem rem
                    dolore voluptas eveniet dicta, doloremque consectetur ad, culpa blanditiis provident ipsam atque.
                    Doloremque, vel.
                </p>
                <!-- Additional content here -->
            </div>
            <div id="service2">
                <h3>Service 2 Details</h3>
                <p>Details about Service 2...</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quia reiciendis ad quaerat a
                    deleniti id hic unde odit dolorem accusantium rem vero sit, voluptates esse exercitationem aliquam,
                    amet in.lor Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum ducimus eveniet modi
                    dolorem? Iure praesentium libero aliquam eius ea incidunt. Laborum eveniet voluptate nam commodi
                    adipisci incidunt facilis ullam modi. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Officiis consequuntur consequatur commodi non, quo ipsum alias impedit natus, modi ullam tempore
                    expedita maxime beatae vero possimus enim cum laboriosam. Aliquam. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Tenetur sint ut enim, expedita culpa quo quod saepe sunt maiores,
                    alias fuga labore, eius ipsum? Nostrum facilis perferendis quia culpa similique? Lorem ipsum, dolor
                    sit amet consectetur adipisicing elit. A, doloremque! Veniam, tempore voluptate totam quidem rem
                    dolore voluptas eveniet dicta, doloremque consectetur ad, culpa blanditiis provident ipsam atque.
                    Doloremque, vel.
                </p>
            </div>
            <div id="service3">
                <h3>Service 3 Details</h3>
                <p>Details about Service 3...</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quia reiciendis ad quaerat a
                    deleniti id hic unde odit dolorem accusantium rem vero sit, voluptates esse exercitationem aliquam,
                    amet in.lor Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum ducimus eveniet modi
                    dolorem? Iure praesentium libero aliquam eius ea incidunt. Laborum eveniet voluptate nam commodi
                    adipisci incidunt facilis ullam modi. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Officiis consequuntur consequatur commodi non, quo ipsum alias impedit natus, modi ullam tempore
                    expedita maxime beatae vero possimus enim cum laboriosam. Aliquam. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Tenetur sint ut enim, expedita culpa quo quod saepe sunt maiores,
                    alias fuga labore, eius ipsum? Nostrum facilis perferendis quia culpa similique? Lorem ipsum, dolor
                    sit amet consectetur adipisicing elit. A, doloremque! Veniam, tempore voluptate totam quidem rem
                    dolore voluptas eveniet dicta, doloremque consectetur ad, culpa blanditiis provident ipsam atque.
                    Doloremque, vel.
                </p>
            </div>
            <div id="service4">
                <h3>Service 4 Details</h3>
                <p>Details about Service 4...</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quia reiciendis ad quaerat a
                    deleniti id hic unde odit dolorem accusantium rem vero sit, voluptates esse exercitationem aliquam,
                    amet in.lor Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum ducimus eveniet modi
                    dolorem? Iure praesentium libero aliquam eius ea incidunt. Laborum eveniet voluptate nam commodi
                    adipisci incidunt facilis ullam modi. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Officiis consequuntur consequatur commodi non, quo ipsum alias impedit natus, modi ullam tempore
                    expedita maxime beatae vero possimus enim cum laboriosam. Aliquam. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Tenetur sint ut enim, expedita culpa quo quod saepe sunt maiores,
                    alias fuga labore, eius ipsum? Nostrum facilis perferendis quia culpa similique? Lorem ipsum, dolor
                    sit amet consectetur adipisicing elit. A, doloremque! Veniam, tempore voluptate totam quidem rem
                    dolore voluptas eveniet dicta, doloremque consectetur ad, culpa blanditiis provident ipsam atque.
                    Doloremque, vel.
                </p>
            </div>
            <div id="service5">
                <h3>Service 5 Details</h3>
                <p>Details about Service 5...</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quia reiciendis ad quaerat a
                    deleniti id hic unde odit dolorem accusantium rem vero sit, voluptates esse exercitationem aliquam,
                    amet in.lor Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum ducimus eveniet modi
                    dolorem? Iure praesentium libero aliquam eius ea incidunt. Laborum eveniet voluptate nam commodi
                    adipisci incidunt facilis ullam modi. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Officiis consequuntur consequatur commodi non, quo ipsum alias impedit natus, modi ullam tempore
                    expedita maxime beatae vero possimus enim cum laboriosam. Aliquam. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Tenetur sint ut enim, expedita culpa quo quod saepe sunt maiores,
                    alias fuga labore, eius ipsum? Nostrum facilis perferendis quia culpa similique? Lorem ipsum, dolor
                    sit amet consectetur adipisicing elit. A, doloremque! Veniam, tempore voluptate totam quidem rem
                    dolore voluptas eveniet dicta, doloremque consectetur ad, culpa blanditiis provident ipsam atque.
                    Doloremque, vel.
                </p>
            </div>
        </div>
    </div>
</div>