.banner {
    height: 60vh;
    width: 100vw;
    background-image: url('../../../../assets/Banners/success\ stories.jpeg'); /* Add the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  h1 {
    color: #fff; /* Adjust the text color as needed */
  }

  