<div class="container my-5 py-5 hob-services-carousel">
  <h2 class="heading-1 text-center mb-4">Hob Services</h2>

  <!-- Slick Carousel for Hob Services -->
  <ngx-slick-carousel class="carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let service of hobServices" class="slide">
      <mat-card class="service-card text-center p-3">
        <h3 class="service-title">{{ service.burnerType }} Burner</h3>
        <p class="service-price">Price: ₹{{ service.price }}</p>
        <mat-card-actions class="d-flex justify-content-center mt-0">
          <button mat-raised-button color="primary" (click)="openDialog(service)" class="view-details-btn">
            View Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ngx-slick-carousel>
</div>
