<div class="container-fluid terms-bg">

    <div class="container py-md-3">
        <div class="heading-3">
            Terms
        </div>
        <ul >
            <li>
                <p class="m-0 p-0">We provide 30 days warranty for service</p>
            </li>
            <li>
                <p class="m-0 p-0">Best price guarantee</p>
            </li>
            <li>
                <p class="m-0 p-0">If you are availing the service, no inspection charge, only pay the service charge. Incase not
                    availing the service you have to pay the inspection charge</p>
            </li>
            <li>
                <p class="m-0 p-0">Service charge = labour charges + spare parts / consumable charges. If spare parts and consumables
                    used charges will be collected along with labour charge</p>
            </li>
            <li>
                <p class="m-0 p-0">While using online payments, less than Rs.2000 no charges, more than Rs.2000, 2% + GST additionally
                    charged for payment gateway fee</p>
            </li>
            <li>
                <p class="m-0 p-0">Red Sparkz provides 30 days warranty for service, so we don't use spare parts provided by customer.
                </p>
            </li>
        </ul>
    </div>
</div>