a{
text-decoration: none;
color: #000000;
}
a:hover{
    color: #676666;
}
  /* Style for the arrow icon */
  .arrow-icon {
    font-size: 12px;
    // background-color: #7c8698; /* Background color for the circle */
    color: #000000; /* White arrow inside */
    // padding: 4px;
    // border-radius: 50%; /* Makes the icon round */
    transition: background-color 0.3s ease;
  }
  
 
  