<div class="row d-flex justify-content-end align-items-center">
    <div class="col-md-6 ">
        <div class="mt-5 ">
            <a href="https://wa.me/{{ whatsappNumber }}" class="btn btn-whatsapp" target="_blank">
                <i class="bi bi-whatsapp"></i> Book Now via WhatsApp
            </a>
        </div>
    </div>
    <div class="col-md-6 ">

        <div class="mt-5">
            <a href="tel:+1234567890" class="btn btn-call" target="_blank">
              <i class="bi bi-telephone"></i> Call Now
            </a>
          </div>
          
    </div>
</div>


  