<div class="row d-flex justify-content-center align-items-center">
    <div class="row button-container d-flex justify-content-center align-items-center">
        <div class="col-6">
            <button mat-button class="mat-icon-button call-button" aria-label="Call">
                <i class="fa-solid fa-phone"></i>
                <span>Call Now</span>
            </button>
        </div>
        <div class="col-6">
            <button mat-button class="mat-icon-button whatsapp-button"
                aria-label="WhatsApp">
                <i class="fa-brands fa-whatsapp"></i>
                <span>WhatsApp</span>
            </button>
        </div>
    </div>

</div>