<div class="banner">
    <div class="container-fluid d-flex justify-content-center align-items-center h-100">
        <div class="row">
            <div class="col-md-8 ">
                <h1 class="heading-1 text-white mb-3">
                    About Us - Red Sparkz Home Appliance Cleaning & Repair Services
                </h1>
                <!-- <p>Restore Your Kitchen Chimney’s Efficiency with Our Expert Technicians</p> -->
            </div>
        </div>
    </div>
</div>


<div class="container my-md-4 my-3">
    <h1 class="heading-1 mb-3">
        Welcome to Red Sparkz
    </h1>
    <p>
        At <strong> Red Sparkz,</strong> we are more than just a service provider; we are your trusted partners in
        maintaining a clean, hygienic, and functional home. Based in <strong> Chennai,</strong> we specialize in
        delivering top-notch <strong> home appliance cleaning and repair services,</strong> including <strong>chimney
            cleaning, hob servicing, gas stove repairs, and kitchen deep cleaning.</strong>
    </p>
    <p>
        With a commitment to excellence and a customer-first approach, we strive to make your life easier by ensuring
        your home appliances and kitchen stay in perfect condition, all at an <strong> affordable price.</strong>
    </p>
</div>

<div class="container my-md-5 my-4">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4 m-md-5 m-3">
            <div class=" d-flex justify-content-center align-items-center box">
                <div class="image-box">
                    <img class="img-fluid" src="../../../assets/about-us/mission.png" alt="">
                </div>
            </div>
            <mat-card>
                <mat-card-content class="text-center">
                    <h1>Our Mission</h1>
                    <p>To provide <strong>affordable, reliable, and eco-friendly cleaning and repair services</strong>
                        that enhance the
                        quality of life for our customers, creating healthier and happier homes.</p>
                </mat-card-content>
            </mat-card>

        </div>

        <div class="col-md-4 m-md-5 m-3">
            <div class=" d-flex justify-content-center align-items-center box">
                <div class="image-box">
                    <img class="img-fluid" src="../../../assets/about-us//vision.png" alt="">
                </div>
            </div>
            <mat-card>
                <mat-card-content class="text-center">
                    <h1>Our Vision</h1>
                    <p>
                        To be recognized as the most <strong> trusted and reliable home appliance service provider in
                            Chennai,</strong> known for our expertise, affordability, and outstanding customer care.
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>

<app-why-choose-us></app-why-choose-us>

<div class="container my-md-5 my-4">
    <h1 class="heading-1 mb-3">
        Our Services
    </h1>
    <p>
        We provide a wide range of services designed to meet your home appliance and kitchen maintenance needs:
    </p>
    <ul class="ps-3">
        <li class="pointer">
            <h6 [routerLink]="['/chimney-service-chennai']">Chimney Cleaning and Repair</h6>
        </li>
        <li class="pointer">
            <h6 [routerLink]="['/hob-service-chennai']">
                Hob Cleaning and Repair
            </h6>
        </li>
        <li class="pointer">
            <h6 [routerLink]="['/gas-stove-service-chennai']">
                Gas Stove Cleaning and Maintenance

            </h6>
        </li>
        <li class="pointer">
            <h6 [routerLink]="['/kitchen-cleaning-service-chennai']">
                Kitchen Deep Cleaning

            </h6>
        </li>
    </ul>
    <p>
        Whether it’s removing stubborn grease, repairing faulty appliances, or deep-cleaning your kitchen for a
        healthier cooking space, <strong> Red Sparkz is here for you.</strong></p>
</div>

<div class="container my-md-5 my-4">
    <h1 class="heading-1 mb-3">
        Our Promise
    </h1>
    <p>
        At Red Sparkz, we promise to:
    </p>
    <ol class="ps-3">
        <li>
            <p>Deliver services with <strong> integrity, transparency, and professionalism.</strong></p>
        </li>
        <li>
            <p>Use only the <strong> best tools and techniques</strong> for cleaning and repairs.</p>
        </li>
        <li>
            <p>Always prioritize your <strong>safety and satisfaction.</strong> </p>
        </li>
    </ol>
</div>


<div class="container my-md-5 my-4 ">
    <h1 class="heading-1 mb-3">
        Join the Red Sparkz Family
    </h1>
    <p>Experience the joy of a clean and functional kitchen without the stress. Let <strong> Red Sparkz</strong> take
        care of your home appliances while you focus on the things that matter most.</p>
    <p>For inquiries or to book a service, call us or text with whatsapp. Together, let’s make your home sparkle!</p>
</div>