

h1 {

  font-weight: 800;
  letter-spacing: 1px;
  font-size: clamp(1.6rem, 3.7vw, 5.6rem);
}

p {
  color: #000;
  font-size: clamp(0.756rem, 1.2vw, 1.1rem);
}

.mat-mdc-outlined-button:not(:disabled) {
  border-color: #f14949;
  border-radius: 10px;
}

.mat-mdc-raised-button:not(:disabled) {
  border-radius: 10px;
}
