
/* Fix the WhatsApp button's placement */
.whatsapp-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 10px;
  z-index: 100;
}
.dialog-box {
  position: relative;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  width: 30px; /* Smaller button size */
  height: 30px; /* Smaller button size */
/* Optional: make the button background white */
  border-radius: 50%; /* Optional: make the button round */
  padding: 0; /* Ensure no extra padding */

}
.close-btn mat-icon {
  font-weight: 900 !important;
  font-size: 16px; /* Smaller icon size */
  line-height: 25px; /* Align icon within the smaller button */
}

::ng-deep.carousel-control-next-icon, ::ng-deep.carousel-control-prev-icon {
  display: inline-block;
  width: 1.5rem !important;
  height: 1.5rem !important;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}


