.mob-logo {
  max-width: 14rem;
  height: auto; /* Ensure the logo height is proportional */
 /* Add some margin for spacing */
}

button {
  display: block; /* Ensures each button is on a new line */
  width: 100%; /* Makes buttons full width */
  margin: 0; /* Adds some space between buttons */
  border-radius: 0px;
}

.close-icon {
  cursor: pointer;
  /* Your close button styles */
}

.drawer-container{
 position: fixed;
 top: 0;
 left: 0;
 width: 75vw;
}