<div class="drawer-container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="">
      <img src="../../../assets/Logo/redsparkz logo header.png" class="mob-logo" alt="redsparkz" />
    </div>
    <div class="close-icon me-3">
      <mat-icon (click)="closeDrawer.emit()">close</mat-icon>
    </div>
  </div>
  <div class="navigation-links ">
    <!-- Navigation links here -->
    <div class="box ">
      <mat-divider></mat-divider>
      <button mat-button (click)="closeDrawer.emit()" class="btns" [routerLink]="['/home']">
        Home
      </button>
    </div>
    <div class="box">
      <mat-divider></mat-divider>
      <button mat-button (click)="closeDrawer.emit()" class="btns" [routerLink]="['/about']">
        About
      </button>
    </div>
    <div class="box">
      <mat-divider></mat-divider>
      
      <button mat-button (click)="toggleServices()" class="btns">
        Services 
        <span class="arrow">{{ isServicesOpen ? '▼' : '►' }}</span>
      </button>
    
      <!-- Services List -->
      <div *ngIf="isServicesOpen"> <!-- Show the services list only if isServicesOpen is true -->
    
        <button mat-button [routerLink]="['/services/chimney']">
          Chimney Services
        </button>
    
        <mat-divider></mat-divider>
        <button mat-button [routerLink]="['/services/gas-stove']">
          Gas Stove Services
        </button>
    
        <mat-divider></mat-divider>
        <button mat-button [routerLink]="['/services/hob']">
          Hob Services
        </button>
        <mat-divider></mat-divider>
    
        <button mat-button [routerLink]="['/services/kitchen-cleaning']">
          Kitchen Cleaning
        </button>
      </div>
    </div>
    


    <div class="box">
      <mat-divider></mat-divider>
      <button mat-button (click)="closeDrawer.emit()" class="btns" [routerLink]="['/products']">
        Products
      </button>
    </div>


    <div class="box">
      <mat-divider></mat-divider>
      <button mat-button (click)="closeDrawer.emit()" class="btns" [routerLink]="['/blogs']">
        Blogs
      </button>
    </div>


    <div class="box">
      <mat-divider></mat-divider>
      <button mat-button (click)="closeDrawer.emit()" class="btns" [routerLink]="['/contact']">
        Contact
      </button>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>