<div class="drawer-container">
  <div class="d-flex justify-content-evenly align-items-center py-2">
    <img src="../../../assets/Logo/redsparkz logo header.png" class="mob-logo" alt="redsparkz" />
    <div class="close-icon d-flex justify-content-center align-items-center">
      <mat-icon color="primary" class="border" (click)="closeDrawer.emit()">close</mat-icon>
    </div>
  </div>
  <div class="navigation-links ">

    <div class="box ">
      <mat-divider></mat-divider>
      <button mat-button (click)="closeDrawer.emit()" class="d-flex justify-content-start align-items-center btn"
        [routerLink]="['/home']">
        Home
      </button>
    </div>
    <div class="box">
      <mat-divider></mat-divider>
      <button mat-button (click)="closeDrawer.emit()" class="d-flex justify-content-start align-items-center btn"
        [routerLink]="['/about-us']">
        About Us
      </button>
    </div>
    <div class="box">
      <mat-divider></mat-divider>

      <button mat-button (click)="toggleServices()" class="d-flex justify-content-start align-items-center btn">
        <span class="order-1">Services</span>
        <mat-icon class="order-2">{{ isServicesOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
      </button>
      <mat-divider></mat-divider>

      <div *ngIf="isServicesOpen">
        <button mat-button (click)="closeDrawer.emit()" class="d-flex justify-content-start align-items-center ps-5 btn"
          [routerLink]="['/chimney-service-chennai']">
          Chimney Services
        </button>

        <mat-divider></mat-divider>
        <button mat-button (click)="closeDrawer.emit()" class="d-flex justify-content-start align-items-center ps-5 btn"
          [routerLink]="['/gas-stove-service-chennai']">
          Gas Stove Services
        </button>

        <mat-divider></mat-divider>
        <button mat-button (click)="closeDrawer.emit()" class="d-flex justify-content-start align-items-center ps-5 btn"
          [routerLink]="['hob-service-chennai']">
          Hob Services
        </button>
        <mat-divider></mat-divider>

        <button mat-button (click)="closeDrawer.emit()" class="d-flex justify-content-start align-items-center ps-5 btn"
          [routerLink]="['/kitchen-cleaning-service-chennai']">
          Kitchen Cleaning
        </button>
      </div>
    </div>

    <!-- <div class="box">
      <mat-divider></mat-divider>
      <button mat-button (click)="closeDrawer.emit()" class="d-flex justify-content-start align-items-center btn"
        [routerLink]="['/products']">
        Products
      </button>
    </div> -->

    <div class="box">
      <mat-divider></mat-divider>
      <button mat-button (click)="closeDrawer.emit()" class="d-flex justify-content-start align-items-center  btn"
        [routerLink]="['/blog']">
        Blogs
      </button>
    </div>
<!-- 
    <div class="box">
      <mat-divider></mat-divider>
      <button mat-button (click)="closeDrawer.emit()" class="d-flex justify-content-start align-items-center btn"
        [routerLink]="['/contact']">
        Contact
      </button>
      <mat-divider></mat-divider>
    </div> -->
  </div>
</div>