<div class="container my-5 py-2">
  <h1 class="heading-1 text-center mb-4">Our Chimney Service Packages</h1>
</div>
<!-- <ngx-slick-carousel class="carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let service of chimneyServices" class="slide">
          <mat-card class="chimney-card">
            <mat-card-content class="service-image mt-0 pt-0 rounded">
              <img class="img-fluid rounded" [src]="service.serviceImage" alt="">
            </mat-card-content>

            <mat-card-content class="text-center">
              <mat-card-title class="h4 service-title">{{ service.serviceType }}</mat-card-title>
            </mat-card-content>
  
            <mat-card-content class="text-center mb-0">
              <h3 class="service-price text-success">Starts at &#8377;{{ service.price }}</h3>
     
              <span class="service-duration ">{{ service.duration }}</span>
            </mat-card-content>
  
            <mat-card-actions class="d-flex justify-content-center mt-0">
              <button mat-raised-button color="primary" (click)="openDialog(service)" class="view-details-btn">
                View Details
              </button>
            </mat-card-actions>
          </mat-card>
    
      </div>
    </ngx-slick-carousel> -->
<div class="container d-flex justify-content-center align-items-center">
  <div class="row d-flex justify-content-center align-items-center ">
    <div class="col-lg-4 col-md-6 col-10 my-md-3 d-flex justify-content-center align-items-center px-md-5"
      *ngFor="let service of chimneyServices">
      <mat-card class=" chimney-card my-2">
        <mat-card-content class="service-image rounded">
          <img class="img-fluid rounded" [src]="service.serviceImage[0]" alt="">
        </mat-card-content>
        <mat-card-content class="text-center mt-3">
          <h5 class=" service-title m-0 p-0">{{ service.serviceType }}</h5>
        </mat-card-content>
        <mat-card-content class="text-center mt-2">
          <h3 class="service-price text-success">Starts at &#8377;{{ service.price }}</h3>
          <p class="service-duration">{{ service.duration }}</p>
        </mat-card-content>
        <mat-card-content class="d-flex justify-content-center align-items-center mt-3 mb-2 ">
          <button mat-raised-button color="primary" (click)="openDialog(service)" class="view-details-btn">
            View Details
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>