<div class="container my-md-5 my-3">
  <p>A clean and well-maintained kitchen chimney is essential for a hygienic and efficient cooking environment. At Red
    Sparkz, we offer top-notch chimney cleaning, chimney repair, and maintenance services across Chennai. Our
    professional team ensures your chimney works flawlessly, removing all grease, dirt, and smoke residues. With
    affordable prices, timely service, and a 30-day warranty, we are Chennai’s most trusted chimney service provider.
  </p>
</div>

<div class="container my-md-5 my-3 ">
  <h1 class="heading-1 text-center ">Our Chimney Service Packages</h1>
</div>
<div class="container d-flex justify-content-center align-items-center">
  <div class="row d-flex justify-content-center align-items-center ">
    <div class="col-lg-4 col-md-6 col-10 my-md-3 d-flex justify-content-center align-items-center px-md-5"
      *ngFor="let service of chimneyServices">
      <mat-card class=" chimney-card my-2">
        <mat-card-content class="service-image rounded">
          <img class="img-fluid rounded" [src]="service.serviceImage[0]" alt="">
        </mat-card-content>
        <mat-card-content class="text-center mt-3">
          <h5 class=" service-title m-0 p-0">{{ service.serviceType }}</h5>
        </mat-card-content>
        <mat-card-content class="text-center mt-2">
          <h3 class="service-price text-success">Starts at &#8377;{{ service.price }}</h3>
          <p class="service-duration">{{ service.duration }}</p>
        </mat-card-content>
        <mat-card-content class="d-flex justify-content-center align-items-center mt-3 mb-2 ">
          <button mat-raised-button color="primary" (click)="openDialog(service)" class="view-details-btn">
            View Details
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>